<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User and Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Create User and Database</h1>
        <form method="POST">
            <label for="new_user">New User:</label>
            <input type="text" id="new_user" name="new_user" required>
            <br>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            <br>
            <label for="new_db">New Database:</label>
            <input type="text" id="new_db" name="new_db" required>
            <br>
            <button type="submit">Create</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    </div>
</body>
</html>
